<div class="user_container">
  <h2>設定</h2>
  <div class="account_container">
    <ul class="account_profile_container" style="justify-content: start;">
      <li><%= link_to "アカウント", account_path, class: "account_link" %></li>
      <li><%= link_to "プロフィール", profile_path, class: "profile_link" %></li>
    </ul>
    <div class="account_edit_info_container">
      <div class="account_edit_container">
        <h2>プロフィール</h2>
        <h3><%= link_to "編集", edit_profile_path, class: "edit_profile_link" %></h3>
      </div>
      <div class="account_info_container">
        <ul class="user_icon">
          <li>アイコン画像</li> 
          <li> <% if Current.user.image.attached? %>
                <%= image_tag Current.user.image.variant(resize: '40x40'), class: "avatar_image" %>
              <% else %>
                <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', size: '40x40' %>
              <% end %>
          </li>
        </ul>
        <ul class="user_password">
          <li>名前</li>
          <li><%= Current.user.user_name %></li> 
        </ul>
        <ul class="user_introduction">
          <li>自己紹介</li> 
          <li><%= Current.user.introduction %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
